{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Homepage' %}
{% set isHomepage = true %}

{% block content %}

	<main role="main" id="main" class="main">
		<div class="row-main">
			
			<iframe width="560" height="315" style="max-width: 100%" data-src="https://www.youtube.com/embed/KzEFQW9CXGc"  data-cookieconsent="analytics_storage, ad_storage" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<script type="text/plain" src="{{assets.scripts ~ 'test-external.js'}}" data-cookieconsent="analytics_storage">
			</script>
			<script type="text/plain" data-cookieconsent="analytics_storage">
				alert('jj')
			</script>
		</div>
	</main>

{% endblock %}
