<!DOCTYPE html>
<html lang="cs" class="no-js">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ pageTitle }} | Project">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="http://www.example.com/image.jpg">

		<meta property="og:title" content="{{ pageTitle }} | Project">
		<meta property="og:description" content="">
		<meta property="og:image" content="http://www.example.com/image.jpg">
		<meta property="og:site_name" content="Project">
		<meta property="og:url" content="http://www.example.com/">

		<title>{{ pageTitle }} | Project</title>

		{# use media="screen,handheld" if you need support opera mini #}
		<link rel="stylesheet" href="{{ assets.styles }}style.css" media="screen">
		<link rel="stylesheet" href="{{ assets.styles }}print.css" media="print">


		{% set scripts = [
			'https://cdn.polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.includes,Object.values,Array.prototype.find,AbortController,fetch',
			assets.scripts ~ 'app.js'
		] %}

		{% for script in scripts %}
		<link rel="preload" as="script" href="{{script}}">
		{% endfor %}

		<link rel="shortcut icon" href="{{ assets.images }}favicon.ico">

		<script>
			(function () {
				var className = document.documentElement.className;
				className = className.replace('no-js', 'js');

				(function() {
					var mediaHover = window.matchMedia('(hover: none), (pointer: coarse), (pointer: none)');
					mediaHover.addListener(function(media) {
						document.documentElement.classList[media.matches ? 'add' : 'remove']('no-hoverevents');
						document.documentElement.classList[!media.matches ? 'add' : 'remove']('hoverevents');
					});
					className += (mediaHover.matches ? ' no-hoverevents' : ' hoverevents');
				})();

				// var supportsCover = 'CSS' in window && typeof CSS.supports === 'function' && CSS.supports('object-fit: cover');
				// className += (supportsCover ? ' ' : ' no-') + 'objectfit';

				// fix iOS zoom issue: https://docs.google.com/document/d/1KclJmXyuuErcvit-kwCC6K2J7dClRef43oyGVCqWxFE/edit#heading=h.sgbqg5nzhvu9
				var ua = navigator.userAgent.toLowerCase();
				var isIOS = /ipad|iphone|ipod/.test(ua) && !window.MSStream;

				if (isIOS === true) {
					var viewportTag = document.querySelector("meta[name=viewport]");
					viewportTag.setAttribute("content", "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no");
				}

				document.documentElement.className = className;
			}());
			// Cookie head script
			(function () {
				var match = document.cookie.match(new RegExp('(^| )SKcookieConsent=([^;]+)'));
				var isSkipped = location.search.search('skipConsent=1') > 0;
				document.documentElement.dataset.showCookie = !isSkipped;
				if (match) {
					try {
						var cookieState = JSON.parse(match[2]);
						if(cookieState.id && cookieState.datetime && cookieState.storages) {
							document.documentElement.dataset.showCookie = false;
							window.cookieState = cookieState;
						};
					} catch (error) {}
				}

				// GTM consent init 
				window.dataLayer = window.dataLayer || [];
				function gtag() {
					window.dataLayer.push(arguments);
				}

				var storages = window.cookieState && window.cookieState.storages && !isSkipped ? window.cookieState.storages : {
					functionality_storage: 'granted',
					security_storage: 'granted',
					ad_storage: !isSkipped ? 'denied' : 'granted',
					ad_user_data: !isSkipped ? 'denied' : 'granted',
					ad_personalization: !isSkipped ? 'denied' : 'granted',
					analytics_storage: !isSkipped ? 'denied' : 'granted',
					personalization_storage: !isSkipped ? 'denied' : 'granted',
				};

				gtag('consent', 'default', storages);
				gtag('set', 'url_passthrough', storages['ad_storage'] === 'denied' || storages['analytics_storage'] === 'denied' );
				gtag('set', 'ads_data_redaction', storages['ad_storage'] === 'denied');

			}());
		</script>

	</head>
	<body>
		<p class="m-accessibility">
			<a title="Přejít k obsahu (Klávesová zkratka: Alt + 2)" accesskey="2" href="#main">Přejít k obsahu</a>
			<span class="hide">|</span>
			<a href="#menu-main">Přejít k hlavnímu menu</a>
			<span class="hide">|</span>
			<a href="#form-search">Přejít k vyhledávání</a>
		</p>

		<header role="banner" class="header">
			<div class="row-main">
				{% if isHomepage is defined %}
					<h1 class="header__logo">
						<img src="{{ assets.images }}logo-superkoderi.svg" alt="SUPERKODERS" width="300" height="19">
					</h1>
				{% else %}
					<p class="header__logo">
						<a href="./">
							<img src="{{ assets.images }}logo-superkoderi.svg" alt="SUPERKODERS" width="300" height="19">
						</a>
					</p>
				{% endif %}

				<nav role="navigation" id="menu-main" class="m-main">
					<ul class="m-main__list">
						<li class="m-main__item">
							<a href="#" class="m-main__link">
								Úvod
							</a>
						</li>
						<li class="m-main__item">
							<a href="#" class="m-main__link">
								Kábrman roku
							</a>
						</li>
						<li class="m-main__item">
							<a href="#" class="m-main__link">
								Poradna
							</a>
						</li>
						<li class="m-main__item">
							<a href="#" class="m-main__link">
								Pro kutily
							</a>
						</li>
						<li class="m-main__item">
							<a href="#" class="m-main__link">
								Kontakt
							</a>
						</li>
					</ul>
				</nav>

				<form action="?" role="search" class="f-search"></form>
			</div>
		</header>

		{% block content %}{% endblock %}

		<footer role="contentinfo" class="footer">
			<div class="row-main">
				<p>
					&copy; 2016 SUPERKODERS
				</p>
				<p>
					<a href="#" data-cookie-open>otevřít cookies</a>
				</p>
			</div>
		</footer>

		{% include "@components/cookie.twig" %}

		{% for script in scripts %}
		<script src="{{script}}"></script>
		{% endfor %}
		<script>
			App.run({})
		</script>
	</body>
</html>
