<div class="b-cookie" data-cookie>
	<div class="b-cookie__bg"></div>
	<div class="b-cookie__box">
		<div class="b-cookie__box-inner">
			<h2 class="h3">Tento web používá cookies</h2>
			
			<p>
				Cookies na tomto webu slouží k personalizaci obsahu a reklam, poskytování funkcí sociálních médií a analýze provozu. Kromě toho sdílíme informace o vašem používání webových stránek s našimi partnery v sociálních médiích, reklamě a webové analytice, kteří je mohou kombinovat s dalšími informacemi, které jste jim poskytli nebo které shromáždili z vašeho používání jejich služeb.
			</p>
			<div class="b-cookie__settings" data-step="2">
				<h3 class="h4">Jednotlivé souhlasy</h3>
				
				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span>
							<strong>Nezbytné</strong>, aby stránky fungovaly	
						</span>
						<label class="switch">
							<input type="checkbox" checked disabled class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Nezbytné soubory cookie pomáhají učinit web použitelným povolením základních funkcí, jako je navigace na stránce a přístup do zabezpečených oblastí webu. Bez těchto cookies nemůže web správně fungovat.</p>
					</div>
				</div>

				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span><strong>Předvolby</strong>, abyste si mohli ukládat vaše nastavení</span>
						<label class="switch">
							<input type="checkbox" data-cookie-option="personalization_storage" class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Předvolené soubory cookie umožňují webové stránce zapamatovat si informace, které mění způsob, jakým se web chová nebo vypadá, například preferovaný jazyk nebo oblast, ve které se nacházíte.</p>
					</div>
				</div>
		
				<div class="b-cookie__option">
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span><strong>Analytika</strong>, abychom mohli stránky zlepšovat</span>
						<label class="switch">
							<input type="checkbox" data-cookie-option="analytics_storage" class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Analytické cookies pomáhají majitelům webových stránek porozumět tomu, jak návštěvníci interagují s webovými stránkami, a to anonymním shromažďováním a hlášením informací.</p>
					</div>
				</div>

				<div class="b-cookie__option">	
					<div class="b-cookie__option-head" data-cookie-toggle>
						<span><strong>Marketing</strong>, aby se vám nezobrazovala reklama, která vás nezajímá</span>
						<label class="switch">
							<input type="checkbox" data-cookie-option="ad_storage" class="switch__inp">
							<span class="switch__inner">
								<span class="switch__text switch__text--left"></span>
								<span class="switch__text switch__text--right"></span>
								<span class="switch__tool"></span>
							</span>
						</label>
					</div>
					<div class="b-cookie__option-body">
						<p>Marketingové cookies se používají ke sledování návštěvníků napříč webovými stránkami. Záměrem je zobrazovat reklamy, které jsou pro jednotlivého uživatele relevantní a poutavé, a tím cennější pro vydavatele a inzerenty třetích stran.</p>
					</div>
				</div>
						
				
			</div>
			<div class="b-cookie__btns" data-step="1">
				<p>
					<button class="as-link" type="button" data-cookie-settings>Detailně nastavit</button>
				</p>
				<p>
					<button class="btn" type="button" data-cookie-reject><span class="btn__text">Odmítnout</span></button>
					<button class="btn" type="button" data-cookie-accept><span class="btn__text">Souhlasím a pokračovat</span></button>
				</p>
			</div>
			<div class="b-cookie__btns" data-step="2">
				<p>
					<button class="as-link" type="button" data-cookie-save>Potvrdit vybrané</button>
				</p>
				<p>
					<button class="btn" type="button" data-cookie-accept><span class="btn__text">Přijmout vše</span></button>
				</p>
			</div>
		</div>
	</div>
</div>