.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: 0;
	background: none;
	text-decoration: none;
	cursor: pointer;
	&__text {
		position: relative;
		display: block;
		padding: 8px 20px;
		border: 1px solid transparent;
		background-color: $colorLink;
		color: $colorWhite;
		font-size: 1rem;
		line-height: 20px;
		text-align: center;
		text-decoration: none;
		transition: background-color $t, border-color $t, color $t;
	}

	// VARIANTs

	// STATEs
	&:disabled,
	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	// HOVERs
	.hoverevents &:hover &__text {
		background-color: $colorHover;
		color: $colorWhite;
	}
}
